:root{
    --primary:hsl(322, 100%, 66%);
    --secondary:hsl(192, 100%, 9%);
    --neutral:hsl(207, 100%, 98%);
}


*, *:after, *:before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    letter-spacing: .01rem;
    line-height: 2rem;
    color: var(--secondary);
    text-align: center;
}

img{
    max-width: 100%;
}


.container{
    max-width: 1440px;
    margin: 0 auto;
    width:90%;
}


.flex{
    display: flex;
}



h1,h2,h3,p{
    margin-top: 0;

}

h1{
    font-size: 2.2rem;
    line-height: 3rem;
    font-family: 'Poppins', sans-serif;
}

h2,h3{
    font-family: 'Poppins', sans-serif;
}

.stat-number{
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight:700;
    margin-bottom: 0;
}

.stat-text{

    margin-top:32px;
    font-size: 1.4rem;
    color: #909090;

}

.content-paragraph{
    margin-bottom: 0;
    padding-bottom: 32px;
}


.btn{

    display: inline-block;
    text-decoration: none;
    border-radius: 160px;
    padding: .3rem 1.5rem;
}

.btn--ghost{
    font-size: 1rem;
    color:var(--primary);
    border: 1px solid var(--primary);
}

.btn--primary{

    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary);
    padding: .8rem 4rem;
    margin: 3em 0;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);

}


button{

    display: inline-block;
    padding: .8em 2.2em;
    cursor: pointer;
    margin-top: 2em;
    border: 0;
    border-radius: .2rem;
    font-size:1.125rem;
    background: var(--primary);
    color: white;
}

.btn--primary:focus,.btn--primary:hover,
button:hover, button:focus{

    background-color: #03B7FA;
}

.btn--ghost:hover,
.btn--ghost:focus{
    color: #03B7FA;
    border: 1px solid #03B7FA;
}


.stat-icon{
    position: relative;
    right:80px;
    padding: 26px;
}


.illustration{
    width: 350px;
    margin: 32px;
}

header{
    padding: 32px;
    margin-bottom: 96px;
}

.logo-huddle{
    height: 30px;
}

.logo-section{
    justify-content: space-between;
    align-items: center;
}

.hero-img{
    margin:32px;
    max-width: 800px;
    width: 80vw;
}


.stat{
    padding: 32px;
}

.wave-one{
    background: url(images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 32px;
}

.wave-two{
    background:
            url(images/bg-section-bottom-mobile-1.svg),
            url(images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding: 96px;
}

.wave-three{

    background:
            url(images/bg-section-bottom-mobile-2.svg),
            url(images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding: 96px;

}

.hero-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section{
    padding: 96px;
}


.section-bg{
    background: #F6FBFF;
    padding:0;

}

footer{
    background: #00252F;
    color: white;
}

.footer-newsletter{
    text-align: left;
}

.final-cta{
    padding-bottom: 64px;
}


form{
    text-align: right;
    padding: 32px;
}


input{
    padding:20px;
    border-radius: .25em;
    border:0;
    width: 100%;
}

::placeholder{
    font-size: 1rem;
    color:#cccccc;
}

.footer-contact{
    text-align: left;
    width: 90%;
}

.logo-white{
    padding: 16px;
}


.contact-social-media{
    padding:0px;
}

.contact-social-media img{
    margin-right: 10px;
    height: 60px;
}

.contact-info{
    display: flex;
    align-items: baseline;

}

.contact-info img{
    margin-right: 16px;
    height: 20px;
}

.attribution{
    font-size: .3rem;
    margin-bottom: 0;
}



@media (min-width:800px) {

    .hero-text {
        width: 60%;
    }

    .section-stats {
        display: flex;
        justify-content: space-around;
    }

    .wave-one {
        background: url(images/bg-section-top-desktop-1.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 96px;
    }

    .wave-two {
        background: url(images/bg-section-bottom-desktop-1.svg),
        url(images/bg-section-top-desktop-2.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: contain;
        padding: 128px;
    }


    .wave-three {

        background: url(images/bg-section-bottom-desktop-2.svg),
        url(images/bg-footer-top-desktop.svg);
        background-repeat: no-repeat;
        background-position: top, bottom;
        background-size: contain;
        padding: 64px;

    }


    .section-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 32px;
    }

    .section-content div {
        width: 40%;

    }

    .reverse .content-img {
        order: 1;
    }

    .final-cta {
        padding: 128px;
    }

    .footer-section {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-contact {
        order: -1;
        width: 35%;
    }

    .footer-newsletter {
        width: 50%;
    }
}